In [2]:
import json
import pandas as pd
import os
import time

In [3]:
with open('data/Team1_Google.json') as f:
    json_1 = json.load(f)
    
dict_1 = dict(json_1)

df_1 = pd.DataFrame.from_dict(dict_1)

In [4]:
df_1.head()

                                                 text sentiment
1   Thank you, Ellen. We have a strong 2018, with ...  positive
10  Stock-based compensation totaled $2.3 billion....  positive
11  Operating income was $8.2 billion, up 7% versu...  positive
12  Our effective tax rate was 11.2% for the fourt...  positive
13  Turning now to CapEx and operating cash flow. ...   neutral

In [5]:
with open('data/Team2_Amazon.json') as f:
    json_2 = json.load(f)
    
dict_2 = dict(json_2)

df_2 = pd.DataFrame.from_dict(dict_2)

In [6]:
df_2.head()

                                                 text sentiment
1   Yeah. And on unit deceleration, I think the un...  positive
10  During this call, we may discuss certain non-G...   neutral
11  Our guidance incorporates the order trends tha...   neutral
12  Our guidance also assumes, among other things,...   neutral
13  Great. Thank you. I guess I'll ask about units...   neutral

In [7]:
with open('data/Team3_Facebook.json') as f:
    json_3 = json.load(f)
    
dict_3 = dict(json_3)

df_3 = pd.DataFrame.from_dict(dict_3)

In [8]:
df_3.head()

                                                  text sentiment
1    Thank you. Good afternoon, and welcome to Face...  positive
10   So first, continue making progress on the majo...  positive
100                                     Lloyd Walmsley   neutral
101  Two if I can. First, Mark, it sounds like ther...   neutral
102                                       David Wehner   neutral

In [9]:
#4 failed data

In [10]:
with open('data/Team5_Microsoft.json') as f:
    json_5 = json.load(f)
    
dict_5 = dict(json_5)

df_5 = pd.DataFrame.from_dict(dict_5)

In [11]:
df_5.head()

                                                  text sentiment
1    Greetings and welcome to the Microsoft Fiscal ...   neutral
10   With that as a backdrop, I want to highlight k...  positive
100  Excellent. Thank you, guys, for taking the que...  positive
101  Thanks, Keith, for the question. Let me start ...  positive
102  We also, during that one year, done integratio...  positive

In [12]:
with open('data/Team6_Tesla.json') as f:
    json_6 = json.load(f)
    
dict_6 = dict(json_6)

df_6 = pd.DataFrame.from_dict(dict_6)

In [25]:
df_6.head()

                                                  text sentiment
1    Good day, ladies and gentlemen, and welcome to...   Neutral
10   I'm not sure. I think Model T was a little bit...  negative
100  Well, we need to bring the Shanghai factory on...  negative
101  So it's - it is eligible for that. But it soun...   neutral
102  The demand for - the demand for Model 3 is ins...  positive

In [14]:
with open('data/Team7_Walmart.json') as f:
    json_7 = json.load(f)
    
dict_7 = dict(json_7)

df_7 = pd.DataFrame.from_dict(dict_7)

In [33]:
df_7.shape

(227, 2)

In [16]:
with open('data/Team8_Kroger.json') as f:
    json_8 = json.load(f)
    
dict_8 = dict(json_8)

df_8 = pd.DataFrame.from_dict(dict_8)

In [31]:
df_8.shape

(109, 2)

In [18]:
with open('data/Team9_GoldmanSachs.json') as f:
    json_9 = json.load(f)
    
dict_9 = dict(json_9)

df_9 = pd.DataFrame.from_dict(dict_9)

In [30]:
df_9.shape

(210, 2)

In [21]:
with open('data/Team10_NVIDIA.json') as f:
    json_10 = json.load(f)
    
dict_10 = dict(json_10)

df_10 = pd.DataFrame.from_dict(dict_10)

In [29]:
df_10.shape

(105, 2)

In [21]:
#11 failed data

In [27]:
with open('data/Team12_Chevron.json') as f:
    json_12 = json.load(f)
    
dict_12 = dict(json_12)

df_12 = pd.DataFrame.from_dict(dict_12)

In [28]:
df_12.shape

(128, 2)

In [34]:
print(df_1.shape)
print(df_2.shape)
print(df_3.shape)
print(df_5.shape)
print(df_6.shape)
print(df_7.shape)
print(df_8.shape)
print(df_9.shape)
print(df_10.shape)
print(df_12.shape)

(93, 2)
(54, 2)
(149, 2)
(178, 2)
(181, 2)
(227, 2)
(109, 2)
(210, 2)
(105, 2)
(128, 2)

In [52]:
frames = [df_1, df_2, df_3, df_5, df_6, df_7, df_8, df_9, df_10, df_12]

final_df = pd.concat(frames)

/Users/xiangyuchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
final_df = final_df.drop(["Sentiment", "Text"], axis=1)

In [56]:
final_df = final_df.dropna()

In [57]:
final_df.isnull().sum()

sentiment    0
text         0
dtype: int64

In [58]:
final_df.shape

(1325, 2)

In [59]:
final_df = final_df.reset_index()

In [60]:
final_df.head()

  index sentiment                                               text
0     1  positive  Thank you, Ellen. We have a strong 2018, with ...
1    10  positive  Stock-based compensation totaled $2.3 billion....
2    11  positive  Operating income was $8.2 billion, up 7% versu...
3    12  positive  Our effective tax rate was 11.2% for the fourt...
4    13   neutral  Turning now to CapEx and operating cash flow. ...

In [61]:
final_df = final_df.drop('index',axis=1)

In [62]:
final_df.head()

  sentiment                                               text
0  positive  Thank you, Ellen. We have a strong 2018, with ...
1  positive  Stock-based compensation totaled $2.3 billion....
2  positive  Operating income was $8.2 billion, up 7% versu...
3  positive  Our effective tax rate was 11.2% for the fourt...
4   neutral  Turning now to CapEx and operating cash flow. ...

In [63]:
final_df.to_json('Complete.json')

In [64]:
import numpy as np
n = final_df.shape[0]
final_df = final_df.values

In [65]:
train_start = 0
train_end = int(np.floor(0.8*n))
test_start = train_end + 1
test_end = n

In [66]:
data_train = final_df[np.arange(train_start, train_end), :]
data_test = final_df[np.arange(test_start, test_end), :]

In [67]:
data_train.shape

(1060, 2)

In [68]:
columns = ["sentiment", "text"]

In [69]:
data_train = pd.DataFrame(data_train, columns = columns)

In [70]:
data_test = pd.DataFrame(data_test, columns = columns)

In [71]:
data_train.to_json('Final_train.json')

In [72]:
data_test.to_json('Final_test.json')